{% extends 'base.html.twig' %}
{% block body %}
    <main class="container game-container">
        <nav class="game-nav">
            <ul>
                <li><button id="play-button" class="game-button material-icons">play_arrow</button></li>
                <li><button id="pause-button" class="game-button material-icons">pause</button></li>
                <li><button id="stop-button" class="game-button material-icons">stop</button></li>
                <li><button id="capital-button" class="game-button secondary material-icons">keyboard_capslock</button></li>
                <li><button id="key-button" class="game-button contrast material-icons-outlined">key add</button></li>
                <li><button id="reveal-button" class="game-button contrast outline material-icons-outlined">visibility</button></li>
                <li>
                    <label for="range">
                        <input type="range" min="0.5" max="5" value="2.0" id="range" step="0.2" name="range">
                        Vitesse : <span id="range-value">2.0</span>
                    </label>
                </li>
            </ul>
        </nav>
        <div class="middle-container">
            <div class="container letters-container">
            </div>
        </div>
    </main>
    <dialog id="modal">
        <article>
            <h2>Confirm Your Membership</h2>
            <p>
                Thank you for signing up for a membership!
                Please review the membership details below:
            </p>
            <ul>
                <li>Membership: Individual</li>
                <li>Price: $10</li>
            </ul>
            <footer>
                <button id="modal-cancel" className="secondary">
                    Cancel
                </button>
                <button id="modal-confirm">Confirm</button>
            </footer>
        </article>
    </dialog>
{% endblock %}
