{% extends 'base.html.twig' %}
{% block body %}
    <main id="main-wrapper" class="container game-container">
        <nav class="game-nav">
            <ul>
                <li><button id="play-button" class="game-button material-icons">play_arrow</button></li>
                <li><button id="pause-button" class="game-button material-icons">pause</button></li>
                <li><button id="stop-button" class="game-button material-icons">stop</button></li>
                <li><button id="capital-button" class="game-button secondary material-icons">keyboard_capslock</button></li>
                <li><button id="key-button" class="game-button contrast material-icons-outlined">key add</button></li>
                <li><button id="reveal-button" class="game-button contrast outline material-icons-outlined">visibility</button></li>
                <li><button id="fullscreen-button" class="game-button contrast outline material-icons-outlined">fullscreen</button></li>
                <li>
                    <label for="range" class="range-container">
                        <input type="range" min="0.5" max="5" value="2.0" id="range" step="0.2" name="range">
                        Vitesse : <span id="range-value">2.0</span>
                    </label>
                </li>
            </ul>
        </nav>
        <div class="middle-container">
            <div class="container letters-container">
            </div>
        </div>
    </main>
    <dialog id="modal">
        <article>
            <header>
                <h2>Bravo!</h2>
                <p>
                    C'est la bonne réponse!
                </p>
            </header>
            <div class="img-container">
                <img src="{{ asset('img/win-' ~ random(1, 7) ~ '.webp') }}" alt="Bravo!" id="modal-img">
            </div>
            <div class="audio-container container">
                <audio id="audio-player" controls>
                    <source src="{{ asset('audio/theme-fort-boyard.mp3') }}" type="audio/mpeg">
                    Votre navigateur ne supporte pas la balise audio.
                </audio>
            </div>
            <footer>
                <button id="modal-confirm">Continuer</button>
            </footer>
        </article>
    </dialog>
{% endblock %}
