{% extends 'base.html.twig' %}
{% block body %}
    <main class="container game-container">
        <!--<div class="container title-container">
            <h1>Château des lettres</h1>
        </div>-->
        <nav class="castle-nav">
            <ul>
                <li><button id="play-button" class="game-button secondary material-icons-outlined">play_arrow</button></li>
                <li><button id="pause-button" class="game-button secondary material-icons-outlined">pause</button></li>
                <li><button id="stop-button" class="game-button secondary material-icons-outlined">stop</button></li>
                <li><button id="key-button" class="game-button secondary material-icons-outlined">key add</button></li>
                <li><button id="reveal-button" class="game-button secondary material-icons-outlined">visibility</button></li>
                <li>
                    <label for="range">
                        <input type="range" min="0.5" max="5" value="2.0" id="range" step="0.2" name="range">
                        Vitesse : <span id="range-value">2.0</span>
                    </label>
                </li>
            </ul>
        </nav>
        <div class="middle-container">
            <div class="container letters-container">
            </div>
        </div>
    </main>
{% endblock %}
